<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <form id="form">
          <div class="form-group w-75 mx-auto">
            <input
              type="datetime-local"
              class="form-control form-control-lg"
              id="datetime"
              name="datetime"
              required
            />
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary btn-lg">
              <%= DATETIME_BUTTON %>
            </button>
          </div>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      window.extAsyncInit = async function () {
        MessengerExtensions.getContext(<%= APP_ID %>,
          function success(result) {
            const { psid: user_id } = result;
            if (!user_id) return;

            document
              .getElementById('form')
              .addEventListener('submit', async (event) => {
                event.preventDefault();

                try {
                  const datetime = document.getElementById('datetime').value;
                  const response = await fetch('/extensions/datetime', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ datetime: new Date(datetime).toISOString(), user_id }),
                  });
                  if (response.status === 200) {
                    MessengerExtensions.requestCloseBrowser(
                      function success() {},
                      function error(err) {},
                    );
                  }
                } catch (error) {
                  console.error(error);
                }
              });
          },
          function error(err) {},
        );
      };
    </script>
  </body>
</html>
